<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <%- include('../partials/form_fields.ejs') %>
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
    <div> <%=author.name %> 
        <form action ='/authors' method = "POST">
            <button type="submit">View</button>
            <button type="submit">Edit</button>
            <button type="submit">Delete</button>

        </form>
    </div>

<% }) %>